@model IEnumerable<Gestionale.Models.Utente>


@{
    ViewBag.Title = "Note";
}

<h2>Note</h2>
<div id="container">

    <input id="input-item" type="text" onkeydown="AddItem(event)" placeholder="scrivi note........." class="w-75 p-2 m-3" />
    <div class="items-list">
        <div id="item">

        </div>

    </div>
</div>
