@model IEnumerable<Gestionale.Models.Utente>

@{
    ViewBag.Title = "_PartialViewDipendente";
}


<div class="card mb-3 text-white mb-5" style="max-width: 18rem; background-color: #324960; ">
    <div class="card-header">DIPENDENTI</div>
    <div class="card-body">
        <h5 class="card-title text-center">Numero totale Dipendenti:  @Model.Count() </h5>
      
    </div>
</div>